<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>포인트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="points : ${points}">
                <td th:text="${points.userId}"></td>
                <td th:text="${points.point}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>